include gittaggers.py Makefile
include schema_salad/tests/*
include schema_salad/tests/test_schema/*.md
include schema_salad/tests/test_schema/*.yml
include schema_salad/tests/test_schema/*.cwl
include schema_salad/metaschema/*
include schema_salad/tests/docimp/*
global-exclude *~
global-exclude *.pyc
